@charset "UTF-8";

#container{
	position: relative;
	text-align: center;
	margin-top: 30%;
	margin-left: 30%;
}
h2{
	font-size: 2em;
	
}
h1{
	font-size: 3.5em;
}
a:link, a:visited {
	text-decoration: none;
	color: #222;
	
}
a:hover {
	cursor: pointer;
}
